@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Suwannaphum:wght@400;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-serif: "Cormorant Garamond", "Suwannaphum", serif;
  
  --color-oxford: #0A192F;
  --color-gold: #C5A059;
  --color-ink: #111827;
  --color-surface: #F8F9FA;
}
